

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color-scheme: light dark;
  color: #242424;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




.spinner > div {
  background-color: #00B42A;
  height: 100%;
  width: 4px;
  margin-inline: 1px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1.0s;
}

.spinner .rect4 {
  animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4) }
  20% { transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
     }
}


.alert-enter {
  opacity: 0;
  transform: scale(0.9) translateY(100%);
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: scale(1) translateY(0);
}
.alert-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9) translateY(100%);
  transition: opacity 300ms, transform 300ms;
}
